################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Spotzer.Media.Application/Extensions/DynamicExtensions.cs
